$color-h5: #FF3946;
$color-h1: #464E90;
$color-p: gray;
$font-weight-h5: 700;
$font-weight-h1: 700;
$font-weight-p: 500;
$font-size-h1: 2rem;
$font-size-p: 0.9rem;
$box-shadow-hover: 0 0 5px rgba(0, 0, 0, 0.1);

.aboutContainer {
  display: flex;
  height: 55vh;
  width: 70vw;
  margin: auto;
  gap: 2rem;

  .image {
    width: 50%;
    height: 100%;
  }

  h5 {
    font-weight: $font-weight-h5;
    color: $color-h5;
  }

  .c1 {
    display: flex;
    overflow-x: scroll;
    width: 30vw;
    cursor: pointer;

    .c2 {
      display: flex;
      gap: 1rem;

      .i {
        height: 25vh;
        width: 30vw;
        padding: 1rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.02);
          box-shadow: $box-shadow-hover;
        }

        h1 {
          font-size: $font-size-h1;
          margin-bottom: 4rem;
          font-weight: $font-weight-h1;
          line-height: 0rem;
          color: $color-h1;
        }

        p {
          font-size: $font-size-p;
          font-weight: $font-weight-p;
          line-height: 1.5rem;
          color: $color-p;
        }

      }

    }
  }

  .arrows {}

  ::-webkit-scrollbar {
    display: none;
  }
}