.aboutContainer {
  display: flex;
  height: 70vh;
  width: 70vw;
  margin: auto;
  border: 1px solid blue;

  .image {
    width: 50%;
    height: 100%;
  }

  h5 {
    font-weight: 700;
    color: red
  }

  .c1 {
    display: flex;
    border: 1px solid blue;
    overflow-x: scroll;
    width: 30vw;

    .c2 {
      display: flex;
      gap: 1rem;

      .i {
        height: 30vh;
        width: 30vw;
      }

      h1 {
        font-size: 2rem;
        margin-bottom: 4rem;
        font-weight: 700;
        color: purple;
      }

      p {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: gray;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}