$container-width: 70vw;
$container-height: 60vh;
$color-h5: #FF3946;
$color-h1: #464E90;
$color-p: gray;
$color-p-hover: white;
$color-card: #464E90;
$color-hover: white;
$background-color-hover: #FF3946;
$font-weight-p: 600;
$line-height-h5: 0;
$line-height-h1: 1rem;
$line-height-p: 1.8rem;
$border-radius-card: 3px;
$box-shadow-card: 0 0 25px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease-in-out;

.blogContainer {
  width: $container-width;
  height: $container-height;
  margin: auto;
  padding: 5rem 0;

  h5 {
    color: $color-h5;
    line-height: $line-height-h5;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $color-h1;
      line-height: $line-height-h1;
      margin-bottom: 3rem;
    }

    .arrows {
      cursor: pointer;
    }
  }

  .sliderContainer {
    display: flex;
    height: 20rem;
    padding: 1rem 0.7rem 1rem 0.7rem;
    overflow-x: scroll;

    .slider {
      display: flex;
      gap: 2rem;

      .card {
        height: 17rem;
        width: 15rem;
        max-width: 20rem;
        padding: 1rem 2rem;
        border-radius: $border-radius-card;
        cursor: pointer;
        transition: $transition;
        -webkit-box-shadow: $box-shadow-card;
        -moz-box-shadow: $box-shadow-card;
        box-shadow: $box-shadow-card;
        color: $color-card;
        position: relative;

        p {
          margin-bottom: 2rem;
          line-height: $line-height-p;
          font-weight: $font-weight-p;
        }

        .date {
          color: $color-p;
          transition: $transition;
        }

        .arrowIcon {
          position: absolute;
          bottom: 1rem;
          right: 2rem;
        }

        &:hover {
          color: $color-hover;
          background-color: $background-color-hover;

          .date {
            color: $color-p-hover;
          }

          .arrowIcon {
            fill: $color-hover;
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;

    .header {
      flex-direction: column;
      align-items: start;
    }

    .sliderContainer {
      .slider {
        flex-direction: row;
      }

      .card {
        width: 100%;
        height: auto;
      }
    }
  }
}