$color-h5: #FF3946;
$color-h1: #464E90;
$color-card: #464E90;
$color-hover: white;
$background-color-hover: #FF3946;
$font-weight-p: 600;
$line-height-h5: 0;
$line-height-h1: 1rem;
$line-height-p: 1.8rem;
$box-shadow-card: 0px 0px 3px 0px rgba(0, 0, 0, 0.154);

.blogContainer {
  height: 70vh;
  width: 70vw;
  margin: auto;

  h5 {
    color: $color-h5;
    line-height: $line-height-h5;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $color-h1;
      line-height: $line-height-h1;
      margin-bottom: 3rem;
    }
  }

  .c1 {
    display: flex;
    height: 20rem;
    overflow-x: scroll;

    .c2 {
      display: flex;
      gap: 2rem;

      .card {
        height: 17rem;
        width: 15rem;
        max-width: 20rem;
        padding: 1rem 2rem;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        -webkit-box-shadow: $box-shadow-card;
        -moz-box-shadow: $box-shadow-card;
        box-shadow: $box-shadow-card;
        color: $color-card;

        h3 {
        }

        p {
          margin-bottom: 2rem;
          line-height: $line-height-p;
          font-weight: $font-weight-p;
        }

        p:last-child {
        }

        &:hover {
          color: $color-hover;
          background-color: $background-color-hover;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}