$color-h1: #464E90;
$color-p: gray;
$color-button: white;
$color-a: #464E90;
$background-color-button: #FF3946;
$background-color-hover: #5d2ae5;
$font-size-h1: 2rem;
$font-size-p: 1rem;
$font-size-button: 1rem;
$font-size-a: 1rem;
$font-weight-h1: 700;
$font-weight-p: 500;
$font-weight-button: 800;
$font-weight-a: 700;

.homeContainer {
  display: flex;
  height: 70vh;
  width: 70vw;
  margin: auto;  

  .textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: $font-size-h1;
      font-weight: $font-weight-h1;
      margin-bottom: 1rem;
      color: $color-h1;
    }

    p {
      font-size: $font-size-p;
      font-weight: $font-weight-p;
      margin-bottom: 1rem;
      color: $color-p;
    }

    button {
      padding: 1rem 2rem;
      border: none;
      border-radius: 25px;
      background-color: $background-color-button;
      color: $color-button;
      font-size: $font-size-button;
      font-weight: $font-weight-button;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-right: 1rem;

      &:hover {
        background-color: $background-color-hover;
      }
    }

    a {
      text-decoration: none;
      font-size: $font-size-a;
      font-weight: $font-weight-a;
      color: $color-a;
    }
  }

  .homeImage {
    width: 50%;
    //object-fit:cover;
  }
}