$container-height: 6rem;
$color-navBtn: #464E90;
$color-navBtn-hover: #FF3946;
$color-select: #464E90;
$color-contactBtn: #FF3946;
$color-contactBtn-hover: #464E90;
$font-size-navBtn: 1rem;
$font-size-select: 1rem;
$font-size-contactBtn: 1rem;
$font-weight-navBtn: 800;
$font-weight-select: 500;
$font-weight-contactBtn: 800;
$box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease-in-out;

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $container-height;
  padding: 0 1rem;
  box-shadow: $box-shadow;
  position: relative;

  .logo {
    position: absolute;
    left: 2rem;
    img {
      height: 3rem;
      cursor: pointer;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;

    a {
      padding: 0rem 0.75rem;
      text-decoration: none;
      border: none;
      background-color: transparent;
      color: $color-navBtn;
      font-size: $font-size-navBtn;
      font-weight: $font-weight-navBtn;
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: $color-navBtn-hover;
      }
    }

    .select {
      display: inline;
      margin-right: 2rem;

      select {
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
        border: none;
        color: $color-select;
        background: url('../assets/icons/icon-down-arrow.svg') no-repeat left 22px bottom 1px;
        width: 30px;
        font-size: $font-size-select;
        font-weight: $font-weight-select;
        cursor: pointer;
      }
    }

    .contactBtn {
      border: none;
      background-color: transparent;
      color: $color-contactBtn;
      box-shadow: $box-shadow;
      font-size: $font-size-contactBtn;
      font-weight: $font-weight-contactBtn;
      height: 3rem;
      width: 10rem;
      cursor: pointer;
      border-radius: 3px;
      transition: $transition;
      position: relative;

      &:hover {
        color: $color-contactBtn-hover;
        scale: 1.05;
        .arrowIcon {
          fill: $color-contactBtn-hover;
        }
      }

      .arrowIcon {
        fill: $color-contactBtn;
        position: relative;
        top: 5px;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;

    .navbar {
      width: 100%;
      margin-left: 0;

      .navBtn {
        margin-right: 0;
      }

      .select {
        margin-left: 0;
      }

      .contactBtn {
        width: 100%;
      }
    }
  }
}