.portfolioContainer {
  height: 80vh;
  width: 70vw;
  margin: auto;
  border: 1px dashed blue;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: #464E90;
    }
  }

  .c1 {
    overflow-x: scroll;
    border: 1px solid blue;

    .c2 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 65vh;
      gap: 30px;
    }

    img {
      width: 22vw;
      height: 28vh;
      border: 1px solid #FF3946;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .link {
    display: flex;
    justify-content: center;
    //margin-top: 1rem;

    a {
      font-size: 1rem;
      font-weight: 800;
      color: #FF3946;
      text-decoration: none;
    }
  }

}