$container-width: 70vw;
$container-height: 80vh;
$color-h1: #464E90;
$color-a: #FF3946;
$color-hover: #5d2ae5;
$font-size-h1: 2rem;
$font-size-a: 1rem;
$font-weight-h1: 600;
$font-weight-a: 800;
$border-radius-card: 3px;
$box-shadow-hover: 0 0 25px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease-in-out;

.portfolioContainer {
  width: $container-width;
  height: $container-height;
  margin: auto;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      font-size: $font-size-h1;
      font-weight: $font-weight-h1;
      color: $color-h1;
    }
  }

  .sliderContainer {
    overflow-x: scroll;

    .slider {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 65vh;
      gap: 30px;
    }

    img {
      width: 22vw;
      height: 28vh;
      border-radius: $border-radius-card;
      transition: $transition;
      cursor: pointer;

      &:hover {
        transform: scale(0.95);
        box-shadow: $box-shadow-hover;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .link {
    display: flex;
    justify-content: center;

    a {
      font-size: $font-size-a;
      font-weight: $font-weight-a;
      color: $color-a;
      text-decoration: none;
      transition: $transition;

      &:hover {
        color: $color-hover;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      flex-direction: column;
      align-items: start;
      
    }

    .sliderContainer {
      .slider {
        flex-direction: row;
        justify-content: center;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .link {
      justify-content: start;
    }
  }
}