$container-width: 70vw;
$container-height: 60vh;
$color-h1: #464E90;
$color-button: white;
$color-card: #464E90;
$color-card-hover: white;
$background-color-button: #FF3946;
$background-color-hover: #464E90;
$background-color-card-hover: #FF3946;
$font-size-h1: 2rem;
$font-size-button: 0.8rem;
$font-size-h3: 1.5rem;
$font-size-p: 0.9rem;
$font-weight-h1: 700;
$font-weight-button: 700;
$font-weight-h3: 700;
$font-weight-p: 500;
$border-radius-button: 25px;
$border-radius-card: 3px;
$box-shadow-card: 0 0 25px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease-in-out;

.servicesContainer{
  display: flex;
  width: $container-width;
  height: $container-height;
  margin: auto;
  padding: 5rem 0;

  h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-h1;
    margin-bottom: 3rem;
    color: $color-h1;
  }

  button {
    padding: 0.7rem 2rem;
    border: none;
    border-radius: $border-radius-button;
    background-color: $background-color-button;
    color: $color-button;
    font-size: $font-size-button;
    cursor: pointer;
    transition: $transition;
    margin-right: 1rem;

    &:hover {
      background-color: $background-color-hover;
    }
  }

  .card {
    padding: 2rem;
    margin: 0 1rem;
    width: 60%;
    height: 20rem;
    border-radius: $border-radius-card;
    color: $color-card;
    box-shadow: $box-shadow-card;
    transition: $transition;
    cursor: pointer;
    overflow: auto;

    &:hover {
      color: $color-card-hover;
      background-color: $background-color-card-hover;
    }

    h3 {
      font-size: $font-size-h3;
      font-weight: $font-weight-h3;
      margin: 2rem 0;
    }

    p {
      font-size: $font-size-p;
      font-weight: $font-weight-p;
      line-height: 1.5rem;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    .card {
      margin-top: 2rem;
      width: 85%;
    }
  }
}